.wrap {
    min-width: 1280px;
    margin: 0 auto;
}
header {
    background: url("../img/header/header-bg.png") repeat-x;
}
.header-content, .nav-content, .section-content, .site-map, .footer-content {
    width: 960px;
    position: relative;
    padding: 0 160px;
    margin: 0 auto;
}
h1.header-logo, ul.header-list {
    line-height: 53px;
    display: inline-block;
    vertical-align: middle;
}
h1.header-logo a {
    font-size: 0;
    background: url("../img/header/logo.png") no-repeat center;
    padding: 31px 75px;
}
ul.header-list::after, ul.header-right-list::after, ul.nav-list::after, ul.build-list::after, ul.build-sns-list::after, ul.investment-list::after, ul.pr-center-list::after, ul.recruit-list::after, ul.trading-list::after, ul.footer-list::after, ul.news-list li a::after, .main-click::after {
    display: block;
    content: "";
    clear: both;
}
ul.header-list {
    vertical-align: -webkit-baseline-middle;
    margin-left: 109px;
}
ul.header-list li, ul.header-right-list li, ul.nav-list li, ul.build-list li, ul.build-sns-list li, ul.investment-list li, ul.pr-center-list li, ul.recruit-list li, ul.trading-list li, ul.footer-list li, .main-click > div {
    float: left;
}
ul.header-list li a {
    font-size: 0;
    background: url("../img/header/header-list-1.png") no-repeat left;
    padding: 34px 81px 28px 0;
}
/* ul.header-list li a:hover, ul.header-list li:nth-child(3) a:hover, ul.header-list li:last-child a:hover {
    font-size: 16px;
    font-weight: bold;
    color: #2f62d0;
    background: none;
    letter-spacing: -2.5px;
    padding: 34px 32px 28px 32px;
    vertical-align: middle;
}
ul.header-list li a:hover {
    padding-left: 0;
} */
ul.header-list li.active a:hover {
    font-size: 0;
    vertical-align: baseline;
}
ul.header-list li:nth-child(2) a {
    background: url("../img/header/header-list-2.png") no-repeat center;
    padding: 34px 69px 28px 67.5px;

}
ul.header-list li:nth-child(3) a {
    background: url("../img/header/header-list-3.png") no-repeat center;
    padding: 34px 55px 28px 57px;
}
ul.header-list li:nth-child(4) a {
    background: url("../img/header/header-list-4.png") no-repeat center;
    padding: 34px 33.5px 28px 89px;
}
ul.header-list li:last-child a, img.smartphone-samsung-city-img {
    display: none;
}
ul.header-right-list {
    position: absolute;
    top: 4px;
    right: 155px;
}
ul.header-right-list li a {
    font-size: 0;
    background: url("../img/header/header-right-list-1.png") no-repeat center;
    padding: 9px 31px 0 17.5px;
    border-right: 1px solid #afafaf;
}
ul.header-right-list li:last-child a {
    background: url("../img/header/header-right-list-2.png") no-repeat center;
    padding: 9px 24.5px 0 39px;
    border-right: none;
}
.search {
    display: inline-block;
    width: 152px;
    background: url("../img/header/search.png") repeat-x;
    line-height: 22px;
    position: absolute;
    top: 29px;
    right: 160px;
}
.search-left {
    background: url("../img/header/search-left.png") no-repeat left;
    padding-left: 11px;
}
.search-right {
    background: url("../img/header/search-right.png") no-repeat right;
    position: relative;
}
input.search-textbox {
    border: none;
    background: none;
    line-height: 24px;
}
input.search-textbox:focus {
    outline: none;
}
input.search-textbox::-webkit-input-placeholder {
    font-size: 10px;
    letter-spacing: -0.1px;
    /* background: url("../img/header/search-text.png") no-repeat center left; */
}
button.search-btn {
    background: url("../img/header/header-search-glass.png") no-repeat center;
    border: none;
    padding: 8px;
    position: absolute;
    top: 4px;
    right: 12px;
}

/*nav start*/

nav {
    width: 100%;
    background: url("../img/nav/nav-bg.png") repeat-x;
    min-height: 35px;
}
.nav-content {
    padding: 0 6px 0 14px;
    line-height: 22px;
}
ul.nav-list {
    padding-left: 23px;
}
ul.nav-list li {
    min-height: 35px;
    padding-right: 14px;
}
ul.nav-list li:not(:last-child) {
    background: url("../img/nav/nav-list-bar.png") no-repeat center right;
}
ul.nav-list li a {
    font-size: 0;
    background: url("../img/nav/nav-list-1.png") no-repeat center;
    padding: 17.5px 48.5px;
}
ul.nav-list li:nth-child(2) {
    padding: 0 15px 0 13px;
}
ul.nav-list li:nth-child(2) a {
    background: url("../img/nav/nav-list-2.png") no-repeat center;
    padding: 17.5px 47px;
}
ul.nav-list li:nth-child(3) {
    padding: 0 13px 0 12px;
}
ul.nav-list li:nth-child(3) a {
    background: url("../img/nav/nav-list-3.png") no-repeat center;
    padding: 17.5px 54.5px;
}
ul.nav-list li:nth-child(4) {
    padding: 0 16px 0 11px;
}
ul.nav-list li:nth-child(4) a {
    background: url("../img/nav/nav-list-4.png") no-repeat center;
    padding: 17.5px 40.5px;
}
ul.nav-list li:nth-child(5) {
    padding: 0 17px 0 14px;
}
ul.nav-list li:nth-child(5) a {
    background: url("../img/nav/nav-list-5.png") no-repeat center;
    padding: 17.5px 36.5px;
}
ul.nav-list li:nth-child(6) {
    padding: 0 19px 0 14px;
}
ul.nav-list li:nth-child(6) a {
    background: url("../img/nav/nav-list-6.png") no-repeat center;
    padding: 17.5px 37.5px;
}
ul.nav-list li:nth-child(7) {
    padding: 0 17px 0 12px;
}
ul.nav-list li:nth-child(7) a {
    background: url("../img/nav/nav-list-7.png") no-repeat center;
    padding: 17.5px 48px;
}
ul.nav-list li:last-child {
    padding-left: 14px;
}
ul.nav-list li:last-child a {
    background: url("../img/nav/nav-list-8.png") no-repeat center;
    padding: 17.5px 43.5px;
}

/*section start*/

section {
    width: 100%;
    background: #c6dbe3;
}
.section-content {
    padding: 233px 160px 29px 160px;
}
img.section-bg {
    position: absolute;
    top: 0;
    left: 126px;
}
.smartphone-section-bg, img.smartphone-shortcut {
    display: none;
}
ul.indicator {
    position: absolute;
    top: 11px;
    right: 160px;
}
ul.indicator li {
    min-height: 25px;
    background: #6d6d6d;
    box-shadow: 3px 4px 3px #a1b2b8;
}
ul.indicator li:nth-child(2) {
    margin-top: 5px;
    background: #05b1ca;
}
ul.indicator li:last-child {
    background: #3c6ee7;
}
ul.indicator li a {
    font-size: 0;
    background: url("../img/section/indicator-text-1.png") no-repeat center;
    padding: 14.5px 37.5px 10.5px;
}
ul.indicator li:nth-child(2) a {
    background: url("../img/section/indicator-text-2.png") no-repeat center;
}
ul.indicator li:last-child a {
    background: url("../img/section/indicator-text-3.png") no-repeat center;
}
.section-main {
    position: relative;
    padding: 0 325px;
}
.section-main > div:first-child {
    display: none;
}
.section-main > div {
    width: 310px;
    background: #ffffff;
    display: inline-block;
}
.build {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 7px solid #005f9a;
    border-bottom: 3px solid #05b1ca;
}
img.build-deco {
    position: absolute;
    top: -206px;
    left: 7px;
}
.build .shortcut, .trading .shortcut {
    padding: 15px 17px 0 13px;
}
h2.shortcut-h2 {
    padding: 0 35px 11px 27px;
    background: url("../img/section/shortcut-h2-border.png") no-repeat bottom;
}
span.shortcut-h2-text {
    font-size: 0;
    background: url("../img/section/shortcut-h2.png") no-repeat center right;
    padding: 17px 89.5px 9px 90.5px;
}
.build ul.build-list {
    padding: 4px 21px 10px 14px;
    line-height: 17.2px;
}
.build ul.build-list li::before, .trading ul.trading-list li::before {
    background: url("../img/section/bulid-list-marker.png") no-repeat left center;
    content: "";
    display: inline-block;
    padding: 7px 1px 0;
}
.build ul.build-list li:not(:nth-child(3n)) {
    padding: 0 15px;
}
.build ul.build-list li:nth-child(3n) {
    padding: 0 14px;
}
.build ul.build-list li a {
    font-size: 0;
    background: url("../img/section/build-list-1.png") no-repeat center;
    padding: 15px 20.5px 9px 20.5px;
}
.build ul.build-list li:nth-child(2) a {
    background: url("../img/section/build-list-2.png") no-repeat center;
}
.build ul.build-list li:nth-child(3) a {
    background: url("../img/section/build-list-3.png") no-repeat center;
    padding: 15px 26px 9px 26px;
}
.build ul.build-list li:nth-child(4) a {
    background: url("../img/section/build-list-4.png") no-repeat center;
}
.build ul.build-list li:last-child a {
    background: url("../img/section/build-list-5.png") no-repeat center;
}
.news {
    background: #e9f7fe;
    padding: 13px 26px 33px 19px;
    position: relative;
}
h3.news-h3 {
    font-size: 0;
    background: url("../img/section/news-h3.png") no-repeat right;
    display: inline-block;
    padding: 6px 17.5px 6px 18.5px;
}
button.news-more {
    border: none;
    background: url("../img/section/news-plus.png") no-repeat center;
    padding: 8px;
    position: absolute;
    top: 18px;
    right: 26px;
}
ul.news-list {
    line-height: 16px;
    margin-top: 18px;
}
ul.news-list li a {
    display: block;
}
ul.news-list li span.text-left {
    font-size: 11px;
}
ul.news-list li span.text-right {
    float: right;
    font-size: 12px;
}
.build-sns {
    position: relative;
    padding: 23px 25px 20px 19px;
}
h3.build-sns-h3 {
    font-size: 0;
    background: url("../img/section/sns-h3.png") no-repeat left;
    padding: 6.5px 41.5px;
}
ul.build-sns-list {
    position: absolute;
    top: 13px;
    right: 25px;
}
ul.build-sns-list li:not(:last-child) {
    margin-right: 3px;
}
ul.build-sns-list li a {
    font-size: 0;
    background: url("../img/section/sns-btn-list-1.png") no-repeat;
    padding: 9px;
    vertical-align: middle;
}
ul.build-sns-list li:nth-child(2) a {
    background: url("../img/section/sns-btn-list-2.png") no-repeat;
}
ul.build-sns-list li:nth-child(3) a {
    background: url("../img/section/sns-btn-list-3.png") no-repeat;
}
ul.build-sns-list li:last-child a {
    background: url("../img/section/sns-btn-list-4.png") no-repeat;
}
img.samsung-build-logo {
    position: absolute;
    top: 50px;
    left: 20px;
}
.sns-shortcut {
    margin-top: 20px;
    padding-left: 66px;
    font-size: 0;
}
.sns-shortcut span.sns-shortcut-text {
    background: url("../img/section/sns-c-t-text.png") no-repeat left;
    padding: 6.5px 39px;
    display: block;
}
.sns-shortcut button.sns-shortcut-btn {
    background: url("../img/section/youtube-shortcut-btn-bg.png") repeat-x;
    border: 1px solid #959595;
    border-radius: 3px;
    box-shadow: 0 1px #e5e5e5;
    line-height: 23px;
    margin-top: 6px;
    padding: 0 16px;
}
.sns-shortcut button.sns-shortcut-btn span.sns-shortcut-btn-text {
    background: url("../img/section/youtube-shortcut-btn-text.png") no-repeat center;
    padding: 6px 37.5px;
}
.information {
    border-top: 3px solid #6d6d6d;
    border-bottom: 3px solid #7b7b7b;
    vertical-align: bottom;
    z-index: 1;
}
.information .banner {
    padding: 31px 0 22px 0;
    border-bottom: 1px solid #c0c0c0;
}
img.banner-content {
    padding-left: 35px;
}
.information .banner a.before-arrow, .information .banner a.next-arrow {
    background: url("../img/section/respect-arrow-left.png") no-repeat center;
    padding: 26px 16.5px;
    position: absolute;
    left: 0;
}
.information .banner a.next-arrow {
    background: url("../img/section/respect-arrow-right.png") no-repeat center;
    left: initial;
    right: 0;
}
.promotion {
    background: #efefef;
    padding-top: 3px;
    position: relative;
}
.promotion img.promotion-img {
    padding-left: 62px;
}
.black-bar {
    background: url("../img/section/multicultural-family-text-bg.png") repeat-x;
    opacity: 0.8;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
    letter-spacing: -1px;
    position: absolute;
    bottom: 0;
}
.information .promotion .black-bar a.before-arrow,
.information .promotion .black-bar a.next-arrow {
    background: url("../img/section/promotion-arrow-left.png") no-repeat center;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.information .promotion .black-bar a.next-arrow {
    background: url("../img/section/promotion-arrow-right.png") no-repeat center;
    left: initial;
    right: 0;
}
.investment {
    border-bottom: 1px solid #e2e2e2;
    padding: 18px 33px 15px 17px;
}
h3.investment-h3 {
    background: url("../img/section/investment-h3.png") no-repeat left;
    font-size: 0;
    padding: 6px 0;
}
ul.investment-list {
    margin-top: 13px;
    padding-left: 19px;
}
ul.investment-list li {
    width: 33%;
}
ul.investment-list li:nth-child(2) {
    text-align: center;
    margin-left: 2.4px;
}
ul.investment-list li:last-child {
    text-align: right;
}
ul.investment-list li a {
    padding: 8px 0px 32px 0;
}
ul.investment-list li a span.investment-list-text{
    font-size: 12px;
    letter-spacing: -0.75px;
    margin-top: 7px;
    display: block;
}
ul.investment-list li:nth-child(2) a span.investment-list-text {
    text-align: center;
}
ul.investment-list li:last-child a span.investment-list-text {
    text-align: right;
}
.pr-center {
    padding: 22px 25px 22px 17px;
    line-height: 0;
    border-bottom: 1px solid #e2e2e2;
}
h3.pr-center-h3 {
    background: url("../img/section/pr-center-h3.png") no-repeat left center;
    font-size: 0;
    padding: 6px 32px 9px;
    display: inline-block;
}
ul.pr-center-list, ul.recruit-list {
    margin-left: 30px;
    line-height: 11px;
    vertical-align: top;
    display: inline-block;
}
ul.pr-center-list li:first-child {
    padding-right: 15px;
    background: url("../img/section/pr-center-bar.png") no-repeat right center;
}
ul.pr-center-list li:last-child {
    margin-left: 12px;
}
ul.pr-center-list li a, ul.recruit-list li a {
    font-size: 12px;
    letter-spacing: -1.2px;
}
.recruit {
    padding: 24px 0 20px 17px;
}
h3.recruit-h3 {
    background: url("../img/section/recruit-h3.png") no-repeat;
    font-size: 0;
    padding: 6.5px 22.5px;
    vertical-align: top;
    display: inline-block;
}
ul.recruit-list {
    line-height: 10px;
    margin-left: 47px;
}
ul.recruit-list li:first-child {
    background: url("../img/section/recruit-bar.png") no-repeat right center;
    padding-right: 23px;
}
ul.recruit-list li:last-child {
    margin-left: 20px;
}
.trading {
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: top;
    border-top: 7px solid #3551b1;
    border-bottom: 3px solid #3978ee;
    margin-left: 9.78px;
}
.trading img.trading-deco {
    position: absolute;
     top: -114px;
     left: 0;
}
h2.trading-h2 {
    padding: 0 33px 11px 25px;
}
.trading .shortcut h2.trading-h2 span.shortcut-h2-text {
    background: url("../img/section/trading-shortcut-h2.png") no-repeat center right;
    padding-right: 91.5px;
}
.trading ul.trading-list {
    padding: 10px 6px 16px 30px;
    line-height: 12.2px;
}
ul.trading-list li:nth-child(3n+1) {
    width: 89px;
}
ul.trading-list li:nth-child(3n+2) {
    width: 92px;
}
ul.trading-list li:nth-child(5)::before {
    margin-right: -5px;
}
ul.trading-list li a {
    font-size: 0;
    background: url("../img/section/trading-list-1.png") no-repeat center;
    padding: 10.5px 26px 6.5px 26px;
}
ul.trading-list li:nth-child(2) a {
    background: url("../img/section/trading-list-2.png") no-repeat center;
    padding: 10.5px 11.5px 6.5px 10.5px;
}
ul.trading-list li:nth-child(3) a {
    background: url("../img/section/trading-list-3.png") no-repeat center;
    padding: 10.5px 11.5px 6.5px 11.5px;
}
ul.trading-list li:nth-child(4) a {
    background: url("../img/section/trading-list-4.png") no-repeat center;
    padding: 10.5px 21px 8.5px 21px;
}
ul.trading-list li:nth-child(5) a {
    background: url("../img/section/trading-list-5.png") no-repeat center;
    padding: 10.5px 31.5px 8.5px 21.5px;
}
ul.trading-list li:last-child a {
    background: url("../img/section/trading-list-6.png") no-repeat center;
    padding: 10.5px 26.5px 8.5px 26.5px;
}
.trading-news {
    background: #ebf4ff;
}
.trading-news button.news-more {
    top: 17px;
    right: 27px;
}
.trading-news h3.news-h3 {
    background: url("../img/section/trading-news-h3.png") no-repeat right;
}
.trading-sns h3.build-sns-h3 {
    background: url("../img/section/trading-facebook-h3.png") no-repeat;
}
ul.trading-sns-list {
    top: 15px;
    right: 26px;
}
ul.trading-sns-list li:last-child a {
    background: url("../img/section/facebook-btn.png") no-repeat;
}
.trading-sns-shortcut {
    margin-top: 18px;
    padding-left: 72px;
}
.trading-sns-shortcut span.sns-shortcut-text {
    background: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 0;
}
.sns-like-btn-wrap {
    margin-top: 8px;
    padding-left: 1px;
}
.trading-sns-shortcut button.sns-shortcut-btn {
    margin-top: 0;
    line-height: 19px;
    padding: 0 8px;
}
span.like-btn-text {
    font-size: 12px;
    background: url("../img/section/check.png") no-repeat left center;
    padding-left: 14px;
    line-height: 23px;
    vertical-align: middle;
}
span.like-after {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
    letter-spacing: -1px;
}

/* site-map start*/

.site-map-wrap {
    background: #ffffff;
    padding: 27px 0 35px;
}
.site-map {
    padding: 0;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}
.site-map > div:not(:last-child) {
    border-right: 1px solid #eaeaea;
}
.site-map > div {
    display: inline-block;
}
.company-introduce {
    width: 228px;
    padding: 12px 0 3px 20px;
}
.site-map > div > h2 {
    font-size: 0;
    padding: 7px 0;
}
h2.company-introduce-h2 {
    background: url("../img/section-bottom/introduce-h2.png") no-repeat;
}
.company-introduce-list-wrap {
    margin-top: 27px;
}
.site-map div dl {
    display: inline-block;
    vertical-align: top;
}
dl.company-introduce-list {
    width: 125px;
}
.site-map div dl dt {
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
}
.site-map div dl dd {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.7px;
}
dt.interval {
    margin-top: 7px;
}
.kerning {
    letter-spacing: 0.7px;
}
.site-map div dl dt a, .site-map div dl dd a {
    display: block;
}
dl.company-introduce-right-list {
    width: 97px;
}
.sustain-mg {
    padding: 12px 0 1px 18px;
}
h2.sustain-mg-h2 {
    background: url("../img/section-bottom/sustainability-management.png") no-repeat;
}
dl.sustain-mg-list {
    width: 162px;
}
dl.sustain-mg-right-list {
    width: 152px;
}
.investment-information {
    padding: 12px 0 91px 16px;
}
h2.investment-information-h2 {
    background: url("../img/section-bottom/investment-information.png") no-repeat;
}
dl.investment-information-list {
    width: 81px;
}
dl.investment-information-right-list {
    width: 119px;
}
.cyber-promotion {
    padding: 12px 0 154px 20px;
    vertical-align: top;
}
h2.cyber-promotion-h2 {
    background: url("../img/section-bottom/cyber-promotion.png") no-repeat;
}
dl.cyber-promotion-list {
    width: 112px;
}
ul.language {
    margin-top: 49px;
}
ul.language li a {
    font-family: "돋움",Dotum,"돋움체",DotumChe;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    display: block;
}

/*footer start*/

footer {
    border-top: 1px solid #dddddd;
    line-height: 25px;
}
h2.footer-logo {
    background: url("../img/footer/footer-logo.png") no-repeat left center;
    display: inline-block;
    font-size: 0;
    padding: 9.5px 57px;
}
span.copyright {
    font-size: 11px;
    margin-left: 4px;
}
ul.footer-list {
    position: absolute;
    top: 13px;
    right: 162px;
    line-height: 11px;
}
ul.footer-list li a {
    font-size: 12px;
    letter-spacing: -0.5px;
}
ul.footer-list li:first-child {
    padding-right: 8px;
}
ul.footer-list li:nth-child(2) {
    padding: 0 8px 0 7px;
}
ul.footer-list li:last-child {
    padding-left: 7px;
}
ul.footer-list li:not(:last-child) {
    border-right: 1px solid #666666;
}

/* 태블릿 화면*/

@media all and (max-width:1023px) {
    * {
        box-sizing: border-box;
    }
    .wrap {
        min-width: auto;
        max-width: 1023px;
    }
    header {
        background: none;
    }
    .header-content, .nav-content, .section-content, .site-map, .footer-content {
        width: 100%;
        padding: 0 60px;
    }
    ul.header-list {
        display: block;
        margin-left: 0;
    }
    ul.header-list li {
        width: 25%;
    }
    ul.header-list li a {
        padding-right: 123px;
        background-position: center center;
    }
    ul.header-list li:last-child a {
        padding: 34px 50px 28px 77px;
    }
    nav, ul.indicator, img.section-bg, .site-map-wrap, ul.footer-list {
        display: none;
    }
    .section-content {
        padding: 50px 60px 29px 60px;
        text-align: center;
    }
    .smartphone-section-bg {
        background: #c6dbe3;
        display: block;
        height: 160px;
        position: relative;
    }
    .smartphone-section-deco {
        height: inherit;
    }
    .smartphone-global-bg {
        background: url("../img/smartphone/section/samsung-global-bg.png") no-repeat;
        width: 276px;
        height: 145px;
        position: absolute;
        top: -50px;
        right: 0;
    }
    img.smartphone-bg {
        position: absolute;
        top: -26px;
        left: 17px;
    }
    .section-main {
        padding: 0;
    }
    img.samsung-city-img {
        width: 100%;
    }
    .sns-shortcut {
        text-align: right;
    }
    .information {
        position: relative;
        margin-top: 510px;
    }
}

/*스마트폰 화면*/

@media all and (max-width:767px) {
    .wrap {
        min-width: 320px;
        max-width: 767px;
    }
    header {
        background: url("../img/smartphone/header/header-bg.png") repeat-x;
    }
    .header-content {
        padding: 0 17px 0 16px;
    }
    h1.header-logo {
        line-height: 40px;
    }
    h1.header-logo a {
        background: url("../img/smartphone/header/smartphone-h1.png") no-repeat center;
        padding: 20px 57px;
        vertical-align: top;
    }
    ul.header-list {
        padding: 0 0 0 1px;
        line-height: 43px;
    }
    ul.header-list li a {
        background: url("../img/smartphone/nav/nav-list-1.png") no-repeat left;
        padding: 26px 27.5px 22px 22px;
    }
    ul.header-list li:nth-child(2) a {
        background: url("../img/smartphone/nav/nav-list-2.png") no-repeat center center;
        padding: 26px 15.5px 22px 51px;
    }
    ul.header-list li:nth-child(3) a {
        background: url("../img/smartphone/nav/nav-list-3.png") no-repeat center center;
        padding: 26px 42px 22px;
    }
    ul.header-list li:last-child a {
        background: url("../img/smartphone/nav/nav-list-4.png") no-repeat center right;
        padding: 26px 39px 22px;
        display: initial;
    }
    .search, img.build-deco, .trading img.trading-deco, 
    ul.header-list li:nth-child(4) a, h2.shortcut-h2 img.shortcut-home, img.samsung-city-img, h3.build-sns-h3, img.samsung-build-logo, .sns-shortcut {
        display: none;
    }
    ul.header-right-list {
        top: 12px;
        right: 20px;
    }
    ul.header-right-list li a {
        background: url("../img/smartphone/header/right-list-1.png") no-repeat left;
        padding: 9px 27.5px 0 19.5px;
    }
    ul.header-right-list li:last-child a {
        background: url("../img/smartphone/header/right-list-2.png") no-repeat right;
        padding: 9px 29px 0 36px;
    }
    .section-content {
        padding: 0 0 0 0;
    }
    .smartphone-section-deco {
        background: url("../img/smartphone/section/section-top-deco.png") repeat-x;
        width: 100%;
        height: 8px;
    }
    .smartphone-global-bg {
        top: 0;
    }
    img.smartphone-bg {
        top: 14px;
    }
    .section-main > div:first-child {
        display: block;
        border-bottom: 2px solid #05b1ca;
    }
    .section-main {
        text-align: initial;
    }
    .section-main > div {
        width: 100%;
    }
    .build {
        position: relative;
        border-top: none;
        border-bottom: 2px solid #05b1ca;
    }
    .trading {
        position: relative;
    }
    .main-click > div {
        width: 50%;
        line-height: 32px;
        font-size: 0;
        padding: 10px 29px 8px 15px;
    }
    .main-click > div.active {
        background: #05b1ca;
    }
    h2.smartphone-trading-h2-text {
        background: url("../img/section/trading-h2-deco.png") no-repeat left center;
    }
    h2.smartphone-trading-h2-text a, h2.smartphone-build-h2-text a {
        background: url("../img/smartphone/section/trading-text.png") no-repeat right center;
        display: block;
    }
    h2.smartphone-build-h2-text {
        background: url("../img/smartphone/section/build-active-home.png") no-repeat left center;
    }
    h2.smartphone-build-h2-text a {
        background: url("../img/smartphone/section/build-text.png") no-repeat right center;
    }
    span.smartphone-trading-bg {
        background: url("../img/smartphone/section/trading-deco.png") no-repeat;
        width: 154px;
        height: 75px;
        position: absolute;
        top: -75px;
        left: 0;
    }
    span.smartphone-build-bg {
        background: url("../img/smartphone/section/build-deco.png") no-repeat;
        width: 127px;
        height: 146px;
        position: absolute;
        top: -146px;
        right: 6px;
    }
    .build .shortcut {
        padding: 0;
    }
    h2.shortcut-h2 {
        padding: 0 0 0 17px;
        background: #cdeff4;
        border-bottom: 1px solid #b7d1d4;
        line-height: 38.5px;
        text-align: center;
    }
    img.smartphone-shortcut {
        display: initial;
    }
    span.shortcut-h2-text {
        background: url("../img/smartphone/section/build-shortcut-text.png") no-repeat right center;
        padding: 8.5px 58px 8.5px 67px;
    }
    .build ul.build-list, .build ul.build-list li:nth-child(3) a {
        padding: 0;
    }
    .build ul.build-list li {
        width: 50%;
        line-height: 46px;
        padding-left: 20px;
    }
    .build ul.build-list li::before {
        display: none;
    }
    .build ul.build-list li:not(:last-child) {
        border-bottom: 1px solid #dddddd;
    }
    .build ul.build-list li a {
        display: block;
        padding: 0;
        position: relative;
    }
    .build ul.build-list li:nth-child(odd) {
        padding: 0 20px 0 21px;
    }
    .build ul.build-list li:nth-child(even) {
        padding: 0 20px;
    }
    .build ul.build-list li a {
        background: url("../img/smartphone/section/build-list-1.png") no-repeat left center;
    }
    .build ul.build-list li:nth-child(2) a {
        background: url("../img/smartphone/section/build-list-2.png") no-repeat left center;
    }
    .build ul.build-list li:nth-child(3) a {
        background: url("../img/smartphone/section/build-list-3.png") no-repeat left center;
    }
    .build ul.build-list li:nth-child(4) a {
        background: url("../img/smartphone/section/build-list-4.png") no-repeat left center;
    }
    .build ul.build-list li:last-child a {
        background: url("../img/smartphone/section/build-list-5.png") no-repeat left center;
    }
    .build ul.build-list li a::after {
        background: url("../img/smartphone/section/build-list-arrow.png") no-repeat right center;
        content: "";
        padding: 8px;
        position: absolute;
        top: 14px;
        right: 1px;
    }
    .build ul.build-list li:nth-child(even) a::after {
        right: 0;
    }
    img.smartphone-samsung-city-img {
        display: block;
        width: 100%;
    }
    .news {
        padding: 13px 19px 25px 20px;
    }
    button.news-more {
        top: 20px;
        right: 20px;
    }
    ul.news-list {
        line-height: 18px;
        margin-top: 22px;
    }
    .build-sns {
        padding: 0 3.5px;
    }
    ul.build-sns-list {
        position: unset;
        line-height: 63px;
    }
    ul.build-sns-list li:not(:last-child) {
        margin-right: 0;
    }
    ul.build-sns-list li {
        width: 25%;
    }
    ul.build-sns-list li a {
        font-size: 12px;
        letter-spacing: -2px;
        background: url("../img/smartphone/section/build-sns-list-1.png") no-repeat top center;
        padding: 0;
    }
    .information {
        margin-top: 0;
    }
}